[package]
name = "dify"
version = "0.3.4-alpha.0"
authors = ["jihchi <achi@987.tw>"]
edition = "2018"
publish = false

[package.metadata.release]
pre-release-commit-message = "Bump version to {{version}}"

### BEGIN
# Fix an issuer where `cargo bench -- --save-baseline` does not work.
# For more details, please see: https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
[[bin]]
name = "dify"
path = "src/main.rs"
bench = false

[lib]
bench = false
### END

[[bench]]
name = "benchmark"
harness = false

[dev-dependencies]
criterion = "0.3"

[dependencies]
image = "0.23.11"
getopts = "0.2"
anyhow = "1.0"
colored = "2.0.0"
rayon = "1.5.0"
